.footer {
  &__content {
    background: #dfdfdf;
    padding: 60px 0 80px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 540px;
  }
  &__info-title {
    @extend %title;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 14px;
  }
  &__info-text {
    line-height: 27px;
    margin-bottom: 16px;
  }
  &__info-email {
    padding-left: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: $darc-color;
    line-height: 28px;
    margin-bottom: 22px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      background-image: url(../img/icons/envelope.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      transform: translateY(-40%);
    }
  }
  &__form {
    display: flex;
  }
  &__form-input {
    padding: 6px 18px 6px;
    line-height: 28px;
    border: 1px solid rgba($darc-color, 0.8);
    border-radius: 21px;
    background: transparent;
    width: 100%;
    &::placeholder {
      font-style: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #a1a1a1;
      line-height: 28px;
    }
  }
  &__form_button {
    min-width: 160px;
    border-radius: 21px;
    border: none;
    color: #fffff0;
    background: $darc-color;
    font-weight: 600;
    margin-left: 9px;
    cursor: pointer;
  }
  &__social {
    width: 125px;
    margin-left: 100px;
    margin-right: auto;
  }
  &__social-item,
  &__menu-item {
    padding-bottom: 15px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__social-link--youtube::before {
    background-image: url(../img/icons/youtube.svg);
    transform: translateY(-15%);
  }
  &__social-link--facebook::before {
    background-image: url(../img/icons/facebook.svg);
  }
  &__social-link--pinterest::before {
    background-image: url(../img/icons/pinterest.svg);
  }
  &__social-link--whatsapp::before {
    background-image: url(../img/icons/whatsapp.svg);
  }
  &__social-link--instagram::before {
    background-image: url(../img/icons/instagram.svg);
  }
  &__social-link {
    display: inline-block;
    padding-left: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #707070;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 16px;
      height: 28px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      transform: translateY(-30%);
    }
  }
  &__menu-link {
    line-height: 28px;
    font-weight: 600;
    color: #707070;
  }
  &__menu {
    width: 125px;
    margin-right: 88px;
  }
  &__copyright {
    background: $darc-color;
    padding: 42px 0 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a1a1a1;
    font-size: 16px;
  }
}
